<app-navbar></app-navbar>
<style>
  .error {
    color: red;
    font-weight: bold;
  }

  .success {
    color: green;
    font-weight: bold;
  }

  input,
  select {
    width: 250px;
  }

  th,
  td {
    padding: 5px;
  }
</style>
<div align="center">
  <h2 style="color: navy">Add User</h2>
  <table>
    <tr>
      <th>Role :</th>
      <td>
        <select name="id" [(ngModel)]="form.roleId">
          <option [ngValue]="" value="undefined">
            {{ "------Select Role-------" }}
          </option>
          <option *ngFor="let obj of list.roleList" [value]="obj.key">
            {{ obj.value }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th>first Name :</th>
      <td>
        <input type="text" name="firstName" [(ngModel)]="form.firstName" />
      </td>
    </tr>
    <tr>
      <th>Last Name :</th>
      <td><input type="text" name="lastName" [(ngModel)]="form.lastName" /></td>
    </tr>
    <tr>
      <th>Login ID :</th>
      <td><input type="text" name="loginId" [(ngModel)]="form.loginId" /></td>
    </tr>
    <tr>
      <th>Password :</th>
      <td><input type="text" name="password" [(ngModel)]="form.password" /></td>
    </tr>
    <tr>
      <th>DOB :</th>
      <td>
        <input type="date" name="dob" [ngModel]="convertISODate(form.dob)" />
      </td>
    </tr>
    <tr>
      <th>Profile Pic :</th>
      <td>
        <img
          src="http://localhost:8080/User/profilePic/{{ form.id }}"
          height="55px"
          width="80px"
        />
      </td>
    </tr>
    <tr>
      <th>Image :</th>
      <td>
        <input
          type="file"
          id="customFile"
          name="imageId"
          (change)="onFileSelect($event)"
          accept="image/*"
        />
      </td>
    </tr>
    <tr>
      <th></th>
      <td><button (click)="save()">save</button></td>
    </tr>
  </table>
</div>
